.homePage {
  width: 100%;
  overflow-x: hidden;
}

.heroContainer {
  position: relative;
  width: 100%;
  padding-bottom: 120px;
}

// 响应式设计
@media (max-width: 1024px) {
  .heroContainer {
    padding-bottom: 988px;
  }
}

@media (max-width: 768px) {
  .heroContainer {
    padding-bottom: 60px;
  }
}
