.missionHighlight {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  transform: translateY(-45px);
  
  @media (max-width: 768px) {
    position: static;
    transform: none;
    padding: 0 16px;
    margin-top: -40px;
  }
}

.container {
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.highlightBox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px 40px;
  width: 947px;
  max-width: 100%;
  border-radius: 20px;
  border: 2px solid rgba(255, 255, 255, 0.30);
  background: linear-gradient(277deg, rgba(241, 237, 255, 0.80) 25.1%, rgba(255, 255, 255, 0.80) 51.7%);
  
  @media (max-width: 768px) {
    width: 343px;
    padding: 12px 0;
    gap: 12px;
  }
}

.iconContainer {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  
  @media (max-width: 768px) {
    width: 28px;
    height: 28px;
  }
}

.icon {
  width: 100%;
  height: 100%;
  
  @media (max-width: 768px) {
    width: 14.43px;
    height: 13.36px;
  }
}

.textContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.text {
  font-family: Inter, sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.21;
  text-align: center;
  color: #4F46E5;
  margin: 0;
  
  @media (max-width: 768px) {
    font-size: 24px;
  }
}
